
#css_track, #ruby_track, #csharp_track {
  display: none;
}


footer {
  width: 100%;
  background-color: #242022;
  padding: 3%;
  color: white;
}

.fa {
  padding: 15px;
  font-size: 19px;
  color: white;
}

.fa:hover {
  color: #d5d5d5;
  text-decoration: none;
}
