
.container {
  margin: 1.5% auto;
}

#takeQuiz {
  margin: 3% 0px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

form {
  display: none;
}

#css_track, #ruby_track, #csharp_track{
  display: none;
}

.col-md-6 {
  background-color: grey;
  margin-left: 1%;
}

#findOut {
  margin: 3% 0px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

footer {
  width: 100%;
  background-color: #242022;
  padding: 3%;
  color: white;
  position: absolute;
  bottom: 0;
}

.fa {
  padding: 15px;
  font-size: 19px;
  color: white;
}

.fa:hover {
  color: #d5d5d5;
  text-decoration: none;
}
